<h1>Login</h1>
<h3 class="err" *ngIf="error">{{ error }}</h3>
<form [formGroup]="userForm" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input
      matInput
      placeholder="username"
      type="text"
      value="{{ username }}"
      formControlName="username"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="password"
      type="password"
      value=""
      formControlName="password"
    />
  </mat-form-field>
  <button
    [class.spinner]="loading"
    mat-stroked-button
    color="primary"
    (click)="loginUser()"
    [disabled]="loading"
  >
    Login
  </button>
</form>
