<div class="app">
  <mat-toolbar color="primary" class="navbar">
    <div>{{ title }}</div>
    <div>
      <span><a mat-button routerLink="/">Home</a></span>
      <span *ngIf="authService.isLoggedIn()"
        ><a mat-button routerLink="/dashboard">Dashboard</a></span
      >
      <span *ngIf="!authService.isLoggedIn()"
        ><a mat-button routerLink="/register">Register</a></span
      >
      <span *ngIf="!authService.isLoggedIn()"
        ><a mat-button routerLink="/login">Login</a></span
      >
      <span *ngIf="authService.isLoggedIn()">
        <button mat-button (click)="logoutUser()">Log Out</button></span
      >
    </div>
  </mat-toolbar>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
